<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963439530698-5sorp84mbvurqcnfmuh0qrtu728n75k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963439530698-5sorp84mbvurqcnfmuh0qrtu728n75k1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4CAN61pb5b8pMWtGcS09_AjZdgVRBa4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>963439530698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.cornell.wonderful.app</string>
	<key>PROJECT_ID</key>
	<string>leetcodereader</string>
	<key>STORAGE_BUCKET</key>
	<string>leetcodereader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:963439530698:ios:1f20c67b32e97200</string>
	<key>DATABASE_URL</key>
	<string>https://leetcodereader.firebaseio.com</string>
</dict>
</plist>
